.app {
  min-height: 100vh;
}

#cuidemos-seccion {
  padding: 30px 25px;
  margin-bottom: 25px;
}

.cuidemos-seccion-titulo {
  text-align: center;
  font-size: 34px;
}

.contenedor-cuidemos {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 240px));
  justify-content: center;
  gap: 30px;
}
