.app {
  min-height: 100vh;
}

.contenedor-video {
  position: relative;
  height: 100vh;
  overflow: hidden;
}

.contenedor-video video {
  overflow: hidden;
  top: 50%;
  left: 50%;
  width: 100vw;
  height: 56.25vw;
  min-width: 177.78vh;
  min-height: 100vh;
  border: none;
}

.overlay {
  height: 100vh;
  width: 100vw;
  position: absolute;
  inset: 0;
  margin: auto;
  background: linear-gradient(
    rgba(0, 0, 0, 0.9) 0%,
    rgba(0, 0, 0, 0.8) 45%,
    rgba(0, 0, 0, 0.5) 100%
  );
  z-index: 10;
}
