:root {
  --primary: #174451;
  --primary-light: #1d5964;
  --text: #f2f2eb;
}

* {
  box-sizing: border-box;
  color: var(--text);
  font-family: "Cormorant", serif;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--primary);
}
